<div class="card">
    <div class="card-header">
        <div class="logo">
            {{#if image}}
                <img src="../images/{{image}}" />
            {{else}}
                <img src="../images/org_user.png" />
            {{/if}}
        </div>
        <div class="header-title">

            <a href="/student-view-org/{{_id}}" id="nav_link"><b>{{name}}</b></a><br />

        </div>
        <div class="actions">

            <div class="action-btn">
                
            </div>
        </div>
    </div>

</div>