<!doctype html>

<head>
	<link rel="stylesheet" href="./css/styleForIndex.css" />
	<script src="https://kit.fontawesome.com/dfcf57d1e4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>DLSU Organization Hub Home</title>
</head>

<body>

	<header>
		<img src="./images/logo.png"> &nbsp;
            <nav>
                <ul class="navLinks">
                    <li><a class="current" href="/" id="nav_link"><b>HOME</b></a> </li>
					<li><a href="/logIn" id="nav_link"><b>LOG-IN</b></a> </li>
					<li><a href="#bottom" id="nav_link" ><b>CONTACT</b></a></li>
                </ul>
            </nav>
	</header>

	<div class="container1">
		<img src="./images/header_bg.gif" class="responsive">
	</div>

	<div class="container2">

		<div class="box3">
			<img src="./images/laptop.png" class="responsive">
		</div>

		<div class="box4">
			<h1> Stay updated. <br> &nbsp; Stay connected.</h1>
			<p class="intro"> 
				The <b>DLSU Student Organization Hub</b> aims to provide <b><u>students of De La Salle University</u></b> a platform to 
				check the organizations they are interested in, through <b>one unified and streamlined</b> web application. Through this online platform, 
				different organizations under the university would be allowed to publicize their events and initiatives to the students.<br><br>

				So, what are you waiting for? Go ahead and take a look at what these organizations have to offer! <br> <br> <br> <br> <br>
			</p>

			<p class="steps">
				Have an account? &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
				<a class="buttons" href="/logIn"> LOG IN </a>

				
			</p>

			<p class="steps">
				New to the app? &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
				<a class="buttons" href="/userVerif"> SIGN UP </a>
			</p>
			
		</div>
	</div>

	<div class="container3">
		<h1 class="new_section"> Explore so much more.</h1>
	</div> <br><br>

	<div class="container4">
		<div class="card">
			<div class="card-image">
				<img src="./images/feature_1.png">
			</div>
			<div class="container">
			  <h4><b>View</b></h4>
			  <p>Have access to information that student organizations have made publicly viewable and available.</p>
			</div>
		  </div>

		  <div class="card">
			<div class="card-image">
				<img src="./images/feature_2.png">
			</div>
			<div class="container">
			  <h4><b>Save</b></h4>
			  <p>Save posts and events from different student organizations so that you may access these later on.</p>
			</div>
		  </div>

		  <div class="card">
			<div class="card-image">
				<img src="./images/feature_3.png">
			</div>
			<div class="container">
			  <h4><b>Get notified</b></h4>
			  <p>Have the option to add saved events as an invite to your calendar applications (e.g. Google Calendar).</p>
			</div>
		  </div>
	</div>  <br><br>

	<div class="container5" id="bottom">

		<div class="box5">
			<img src="./images/logo_footer.png"> &nbsp;
		</div>
		
		<div class="box6">
			<p><i class="fa-solid fa-envelope-open"></i> &nbsp;
				CONTACT US <br>
				<a class="mail" href="mailto:misael_marin@dlsu.edu.ph">misael_marin@dlsu.edu.ph</a><br>
				<a class="mail" href="mailto:criscela_racelis@dlsu.edu.ph">criscela_racelis@dlsu.edu.ph</a><br>
				<a class="mail" href="mailto:jaira_millicent_santos@dlsu.edu.ph">jaira_millicent_santos@dlsu.edu.ph</a>
			</p>
		</div>
		<br>
		<div class="box7">
			<p class="title"><i class="fa-solid fa-location-pin"></i> &nbsp;
				WHERE TO FIND US <br>
			</p>
			
			<p class="content">
				Gokongwei Bldg., De La Salle University 2401 Taft Avenue, 1004 Manila, Philippines
			</p>
		</div>

	</div>
	
</body>

</html>