<!doctype html>

<head>
    <script src="https://kit.fontawesome.com/dfcf57d1e4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="./css/styleForLogIn.css" />
	<title>DLSU Organization Hub Log-In</title>

    <script>
        function checkForm()
        {
            var email = document.getElementById("email").value;
            var password = document.getElementById("password").value;	
    
            var valid = false;		
            var all_fields = true;
            
            
            if (email != "" && password != "")
                document.getElementById("email").style.backgroundColor = "white";
            else
            {
                all_fields = false;
                document.getElementById("email").style.backgroundColor = "red";
                document.getElementById("password").style.backgroundColor = "red";
            }
            
            if (all_fields == true && email == "alexander_lim@dlsu.edu.ph" && password == "studentUserPassword123")
            {
                alert("Welcome "+firstName+" "+lastName);
                valid = true;
            }
            else if (email != "" && password != "" && (email != "alexander_lim@dlsu.edu.ph" || (email != "alexander_lim@dlsu.edu.ph" && password != "studentUserPassword123")))
            {
                alert("Account does not exist! Kindly return to the HOME page and sign up.");
                document.getElementById("email").style.backgroundColor = "red";
                document.getElementById("password").style.backgroundColor = "red";
            }
            else if (email == "alexander_lim@dlsu.edu.ph" && password != "studentUserPassword123")
            {
                alert("Incorrect password. Please try again!");
                document.getElementById("password").style.backgroundColor = "red";
            }
            else {
                document.getElementById("email").style.backgroundColor = "red";
                document.getElementById("password").style.backgroundColor = "red";
            }
            
            return valid;
                
        }	
        </script>
</head>

<body>

	<header>
		<img src="../images/logo.png"> &nbsp;

            <nav>
                <ul class="navLinks">
                    <li><a href="/" id="nav_link"><b>HOME</b></a> </li>
					<li><a href="/logIn" id="nav_link"><b>LOG-IN</b></a> </li>
					<li><a href="#bottom" id="nav_link" ><b>CONTACT</b></a></li>
                </ul>
            </nav>
	</header>

	<div class="container1">
		<img src="../images/header_bg.gif" class="responsive">
	</div>

	<div class="container2">

		<div class="box3">
			<img src="../images/welcome.png" class="responsive">
		</div>

		<div class="box4">
            <br> <br> <br> <br> <br> <br> <br> <br>
			<h1 class="log_in"> Log - in </h1>
			<p class="intro"> 
				Kindly use your registered <b>DLSU email</b> upon logging in.<br><br>
			</p>

            <form action = "/login">
                <table class="table">
                    <tr>
                        <td>E-mail:</td>
                        <td><input type = text id = email size = 40></td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><input type = password id = password size = 40></td>
                    </tr>
                    <tr>
                        <td colspan = 2 align = "right">
                        <input type = submit value = "Log In" class="submit_button"></td>
                    </tr>
                </table>
                </form>
		</div>
	</div>

	<div class="container5" id="bottom">

        <div class="box5">
            <img src="../images/logo_footer.png"> &nbsp;
        </div>
        
        <div class="box6">
            <p><i class="fa-solid fa-envelope-open"></i> &nbsp;
                CONTACT US <br>
                <a class="mail" href="mailto:misael_marin@dlsu.edu.ph">misael_marin@dlsu.edu.ph</a><br>
                <a class="mail" href="mailto:criscela_racelis@dlsu.edu.ph">criscela_racelis@dlsu.edu.ph</a><br>
                <a class="mail" href="mailto:jaira_millicent_santos@dlsu.edu.ph">jaira_millicent_santos@dlsu.edu.ph</a>
            </p>
        </div>
        <br>
        <div class="box7">
            <p class="title"><i class="fa-solid fa-location-pin"></i> &nbsp;
                WHERE TO FIND US <br>
            </p>
            
            <p class="content">
                Gokongwei Bldg., De La Salle University 2401 Taft Avenue, 1004 Manila, Philippines
            </p>
        </div>

    </div>

</body>

</html>